<div class="container">
  <h3 class="text-center">Customers Page</h3>

  <div class="row">
    <div class="col-6">
  <a href="#" routerLink="/customer/create/" class="btn btn-success">Create New Customer</a>
    </div>
    <div class="col-6">
  <div class="form-group">
    <div class="row">
    <div class="col-5">
    <input type="text" class="form-control" placeholder="Search name" [(ngModel)]="searchName">
    </div>
    <div class="col-5">
    <select class="form-control" [(ngModel)]="searchCustomerTypeName" >
      <option selected value="">All</option>
      <option *ngFor="let customerType of customerTypes" [ngValue]="customerType.customerTypeName">{{ customerType.customerTypeName}}</option>
    </select>
  </div>
    <div class="col-2">
    <button class="btn btn-success" (click)="search()"><i class="fa fa-search"></i> </button>
  </div>
  </div>
  </div>
    </div>
  </div>
  <p>Showing 5 customers per page</p>
  <table class="table table-bordered">
    <tr>
      <th [width]="100" class="text-center">ID</th>
      <th [width]="200" class="text-center">Name</th>
      <th [width]="125" class="text-center">Date of birth</th>
      <th [width]="75" class="text-center">Gender</th>
      <th [width]="75" class="text-center">Type</th>
<!--      <th>Personal ID</th>-->
<!--      <th>Phone</th>-->
      <th [width]="125" class="text-center">Email</th>
<!--      <th>Address</th>-->
<!--      <th>Type</th>-->
      <th [width]="55" class="text-center">View</th>
      <th [width]="55" class="text-center">Edit</th>
      <th [width]="55" class="text-center">Delete</th>
    </tr>
    <tr *ngFor="let customer of customers | paginate:{itemsPerPage: 5, currentPage: p}">
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.dateOfBirth }}</td>
      <td [ngSwitch]="customer.gender">
        <span *ngSwitchCase="1">Male</span>
        <span *ngSwitchCase="2">Female</span>
        <span *ngSwitchCase="0">Unknown</span>
      </td>
      <td>{{ customer.customerType.customerTypeName }}</td>
<!--      <td>{{ customer.personalId }}</td>-->
<!--      <td>{{ customer.phone }}</td>-->
      <td>{{ customer.email }}</td>
<!--      <td>{{ customer.address }}</td>-->
<!--      <td>{{ customer.customerType }}</td>-->
      <td>
        <a href="#" [routerLink]="['/customer/', customer.id, 'view']" class="btn btn-info">View</a>
      </td>
      <td>

      <a href="#" [routerLink]="['/customer/', customer.id, 'edit']" class="btn btn-primary">Edit</a>
      </td>
      <td>
      <button type="button" (click)="openDialogDelete(customer.id, customer.name)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
