<div id="pageContent" class="container-fluid p-0">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/slide1.jpg" alt="slide 1" class="img-fluid">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/slide2.jpg" alt="slide 2" class="img-fluid">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/slide3.jpg" alt="slide 3" class="img-fluid">
      </div>
    </div>
  </div>
</div>
