button.func{
    background: #dadce0;
    color: #202124;
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-sizing: border-box;
    width: 50px;
    height: 30px;
    margin: 2px;
}
button.number{
    background: #f1f3f4;
    color: #202124;
    border: 1px solid #f1f3f4;
    border-radius: 4px;
}
button, button.number, button.func {
    width: 50px;
    height: 30px;
    margin: 2px;
    text-align: center;
}
text{
    width: 400px;
}